<div class="hero is-fullheight bg-brand" >
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
          <h3 class="title has-text-white"></h3>
          <hr class="login-hr">  
          <!--caja y logo-->
          <div class="box">
              <div class="box">
                <img src="assets\Imagenes\NTT_Data-Logo.wine.png" height="400" width="300">
              </div>
              
              <section class="section">
              <form [formGroup]="userForm"> <!--Aqui va el form-->

              <!--Comienzo del email-->
                <div class="field"> 
                  <label class="label"></label>
                  <div class="control has-icons-left has-icons-right">
                    <input 
                    class="input"
                    
                    type="email"
                    formControlName="email"
                    placeholder="Email" />
                    <span class="icon is-small is-left">
                      <i class="fas fa-at"></i>
                    </span>
                    
                  </div>
               </div>
               <div *ngIf="this.userForm.controls['email'].errors?.['email']" style="color: red;">
                Debe colocar Email valido
              </div><br>
               <div *ngIf="this.userForm.controls['email'].errors?.['required']" style="color: red; font-style: italic;">
                Debe completar email
              </div>
              <br>
                <!--Comienzo de contraseña-->
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Contraseña" formControlName="password" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div *ngIf="this.userForm.controls['password'].errors?.['required']" style="color: red; font-style: italic;">
                  Debe completar contraseña
                </div>
                
                <br>
                <!--Boton de Guardar-->
                <div class="has-text-centered">
                  
                    <button class="button is-medium is-rounded is-primary " style="margin-right: 10px;" type="submit" (click)="onClick()" >Ingresar</button>
                 
                 
                    <button class="button is-medium  is-focused is-light" style="margin-left: 10px;" type="reset" routerLink="/register">Registrar</button>
                  
                  <!-- Modal -->
                  




                </div>
              </form>
            </section>

      
          </div>

      </div>
    </div>
  </div>
</div>