<app-navbar></app-navbar>








<div class="container my-5 mt-5 mx-5 px-5">
    <h2 class="title is-2 is-capitalized">Contáctanos</h2>
    <form [formGroup]="userForm">
        <div class="field">
            <label for="name" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="text" name="name" id="name" class="input" formControlName="name" placeholder="Nombre" required>
                    <span class="icon is-left">
                        <i class="fa fa-user"></i>
                    </span>
            </div>
        </div>
        <div *ngIf="this.userForm.controls['name'].errors?.['required']" style="color: red; font-style: italic;">
            Debe completar nombre
          </div>
        <div class="field">
            <label for="email" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="email" name="email" id="email" formControlName="email" class="input" placeholder="Email" required>
                    <span class="icon is-left">
                        <i class="fa fa-envelope"></i>
                    </span>
            </div>
        </div>
        <div *ngIf="this.userForm.controls['email'].errors?.['email']" style="color: red;">
            Debe colocar Email valido
          </div><br>
           <div *ngIf="this.userForm.controls['email'].errors?.['required']" style="color: red; font-style: italic;">
            Debe completar email
          </div>
        <div class="field">
            <label for="message" class="label is-size-4 has-text-weight-light"></label>
            <textarea name="mensaje" id="mensaje" rows="5" formControlName="mensaje"class="textarea is-medium" placeholder="Mensaje"></textarea>
        </div>
        <div *ngIf="this.userForm.controls['mensaje'].errors?.['required']" style="color: red; font-style: italic;">
            Debe completar Mensaje
        </div>
        <div *ngIf="this.userForm.controls['mensaje'].errors?.['minlength']"style="color: red; font-style: italic;">
            Debe tener minimo 10 caracteres
         </div><br>
        <button type="submit" (click)="Onclick()" class="button is-success is-size-5">Enviar</button>
    </form>
</div>