<app-navbar></app-navbar>


<br>
<style>
    .banner{
      background-image: url("images/banner.jpeg");
      height: 20vh;
      background-position: center;
      background-size: cover;
      text-align: center;
    }
  </style>

<div class="container-fluid">
    <!-- Content here -->
    
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 banner">
        <h1 class="display-3 centrar">Bienvenidos a Zapateria</h1><br>
      </div>
    </div>
    <br>
    <!--fila2-->
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-2">
        <div class="card" style="width: 100%">
          <img src="assets\zapateria\blog_oxford.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Cardinale</b></h5>
           
            <p class="card-text">$45.000</p>
            <p class="card-text">Zapato de Cuero</p>
            <br>
            <a  class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-2">
        <div class="card" style="width: 100%">
          <img src="assets\zapateria\blog_botin.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Guante</b></h5>
            <p class="card-text">$55.000</p>
            <p class="card-text">Zapato de Cuero</p>
            <br>
            <a  class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-2">
        <div class="card" style="width: 100%">
          <img src="assets\zapateria\blog_brogue.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Aldo</b></h5>
            <p class="card-text">$35.000</p>
            <p class="card-text">Zapato de Cuero</p>
            <br>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <span class="icon is-small is-left">
              <i class="fas fa-at"></i>
            </span> Comprar
            </button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ...
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>

            
          </div>

        </div>
      </div>
    </div>
     
    
  </div>


  <!-- Modal -->

